
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Discover Weekly Checklist</title>

    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,600,700" rel="stylesheet">
</head>
<body>
<div class="background container">
    <div class="logout-button-area">
        <a href="{{ url_for('discover_weekly.logout') }}"><div class="pillow-button">Logout</div></a>
    </div>
    <div class="playlist-info">
            <h1>Discover Weekly Playlist</h1>
            Created {{ created_at }}<br>
            You've liked {{ liked_songs_count }} songs.<br>
            There's {{ normal_songs_count }} waiting to be liked or discarded.
    </div>

    <div class="playlist-search-container">
        <div class="playlist-search-box">
            <div class="playlist-search-icon"><i class="fa fa-search icon-large"></i></div>
            <input type="text" id="filterSongs" placeholder="Search for an artist or song title">
        </div>
    </div>

    <div class="playlist-container">
        <div class="playlist-song-container playlist-label flex-row">
            <div class="playlist-song-actions flex-row">
                Actions
            </div>
            <div class="playlist-song-artist">
                Artist
            </div>
            <div class="playlist-song-title">
                Title
            </div>
        </div>
        <div class="playlist-empty-state"> Couldn't find any song :(</div>
        <div class="playlist-songs">
            {% for song in playlist.songs %}
                {% if song.status|string != 'SongStatus.removed' %}

                    <div class="playlist-song-container flex-row" data-id="{{ song.id }}">
                        <div class="playlist-song-actions">
                            {% if song.status|string == 'SongStatus.normal' %}
                                <div class="flex-row">
                                    <div class="playlist-song-action" data-status="liked">
                                        <i class="fa fa-heart-o"></i>
                                    </div>
                                    <div class="playlist-song-action" data-status="removed">
                                        <i class="fa fa-trash-o"></i>
                                    </div>
                                </div>
                            {% elif song.status|string == 'SongStatus.liked' %}
                                <div class="playlist-song-action single-action" data-status="normal">
                                    <i class="icon-heart icon-large"></i>
                                </div>
                            {% endif %}
                        </div>
                        <div class="playlist-song-artist">
                            {{ song.artist }}
                        </div>
                        <div class="playlist-song-title">
                            {{ song.title }}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-2.2.4.min.js"
                        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
                        crossorigin="anonymous">
</script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
<script>
    var endpoint = '{{ discover_weekly_endpoint }}';
</script>
</body>